<!DOCTYPE html>
<html>
<head>
    <title>Spring Monitor</title>
    <script src="webjars/sockjs-client/0.3.4/sockjs.js"></script>
    <script src="webjars/stomp-websocket/2.3.1/stomp.js"></script>
    <script type="text/javascript">
        var stompClient = null;

        function setConnected(connected) {
        }

        function connect() {
            var socket = new SockJS('/spring-monitor');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function(frame) {
                setConnected(true);
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/status', function(message){
                    console.log('Received: ' + message);
                    showMessage(JSON.parse(message.body));
                });
            });
        }

        function showMessage(message) {
            document.querySelector('#response td[data-field="severity"]').textContent = message.severity;
            document.querySelector('#response td[data-field="description"]').textContent = message.description;
            if (message.severity === 'GOOD') {
                response.className = 'good';
            } else if (message.severity === 'BAD') {
                response.className = 'bad';
            } else {
                response.className = '';
            }
        }
    </script>
    <style>
        .good {
            background-color: black;
            color: #76EE00;
        }
        .bad {
            background-color: black;
            color: red;
        }
    </style>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div>
    <div id="messages">
        <table>
            <tr id="response">
                <td data-field="severity"></td><td data-field="description"></td>
            </tr>
        </table>
    </div>
</div>
</body>
<script>
    connect();
</script>
</html>